<script src="/assets/js/header.js"></script>

 <nav id="header" class="fixed w-full z-30 top-0 text-white">
   <div class="w-full container mx-auto flex flex-wrap items-center justify-between my-4 py-2">

     <img id="logo"  class="w-full md:w-4/5 z-50" src="/assets/images/logo_white.png" style="width: 10%;" />
     <div
       class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
       id="nav-content">
       <ul class="list-reset lg:flex justify-end flex-1 items-center">
         <li class="mr-3">
           <a class="inline-block textElement text-white  py-2 px-4 text-black font-bold no-underline" href="/">Home</a>
         </li>
         <li class="mr-3">
           <a class="inline-block textElement text-white  no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
             href="/dashboard">Statistics</a>
         </li>
         <li class="mr-3">
           <a class="inline-block textElement text-white  no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
             href="/company/upload">Upload Video</a>
         </li>
         <li class="mr-3">
           <a class="inline-block textElement text-white  no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
             href="/#contact">Contact</a>
         </li>
       </ul>
       <a id="headerActionButton" href="/logout"
         class="mx-auto lg:mx-0 hover:underline bg-red-400 text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">

         <% if(currentUser){ %>
         Log Out <%=currentUser.firstName %>
         <% } else{ %>
         Log-In
         <% } %>
       </a>


     </div>
   </div>
 </nav>
